{% extends 'layout.html' %}
{% block body %}

<script>
    function init() {
        var sortesa = tsorter.create('cashRates');
    }
    window.onload = init;
</script>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            
            <div class="col-lg-12">
            
                <h2 class="page-header"><i class="fa fa-laptop"></i> Cash Manager</h2>
                <p> Latest retail cash manager account rates</p>
                <a href='static/test.xlsx'>    
                    <span class="badge bg-success">Download Sheet</span>
                </a>
                <a href="{{ '/add_cash' }}">    
                    <span class="badge bg-success">Refresh Rates</span>
                </a>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <hr>


            {% if cash_manager %}
            
            <h3 class="page-header"> All retail cash management account rates</h3>
 
            <!-- Table for all cash manager Rates-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            *Select rate to sort
                        </header>
                        <div class="table-responsive">
                            <table id="cashRates" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Institution</th>
                                        <th>50k - 100k</th>
                                        <th>100k - 250k</th>
                                        <th>250k - 500k</th>
                                        <th>500k and over</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for rate in cash_manager %}
                                    <tr>
                                        <td><img src="./static/img/{{ rate.logo }}" width="42" height="42"> &nbsp{{ rate.product }}</td>
                                        <td> {{ rate._50k }}%</td>
                                        <td> {{ rate._100k }}%</td>
                                        <td> {{ rate._250k }}%</td>
                                        <td> {{ rate._500k }}%</td>
                                        <td> {{ rate.notes }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div> <!-- end row -->
            {% endif %}

        </div> <!-- end main row -->

{% endblock %}
