<section id="container" class="">
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="{{ '/' }}" class="logo">Rate <span class="lite">Mate</span></a>
        <!--logo end-->

      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="{{ '/' }}">
                          <i class="icon_house_alt"></i>
                          <span>Products</span>
                      </a>
                  </li>
                  <li>
                      <a class="" href="{{ 'term_deposit' }}">
                          <i class="icon_document_alt"></i>
                          <span>Term Deposit</span>
                     </a>
                  </li>       
                  <li>
                      <a class="" href="{{ 'online_saver' }}">
                          <i class="icon_desktop"></i>
                          <span>Online Saver</span>
                      </a>
                  </li>
                  <li>
                      <a class="" href="{{ 'progress_saver' }}">
                          <i class="icon_genius"></i>
                          <span>Progress Saver</span>
                      </a>
                  </li>
                  <li>                     
                      <a class="" href="{{ 'cash_manager' }}">
                          <i class="icon_piechart"></i>
                          <span>Cash Manager</span>
                      </a>
                  </li>
                  <li>                     
                      <a class="" href="{{ 'pensioner' }}">
                          <i class="icon_piechart"></i>
                          <span>Pensioner</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
