{% extends 'layout.html' %}
{% block body %}

<script>
    function init() {
        var sortesa = tsorter.create('progressRates');
    }
    window.onload = init;
</script>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            
            <div class="col-lg-12">
            
                <h2 class="page-header"><i class="fa fa-laptop"></i> Progress Savers</h2>
                <p> Latest retail progress saver rates</p>
                <a href='static/test.xlsx'>    
                    <span class="badge bg-success">Download Sheet</span>
                </a>
                <a href="{{ '/add_online' }}">    
                    <span class="badge bg-success">Refresh Rates</span>
                </a>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <hr>

            <h3 class="page-header"> All retail progress saver rates</h3>
 
            {% if online_saver %}
            <!-- Table for all Progress Saver Rates-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            *Select rate to sort
                        </header>
                        <div class="table-responsive">
                            <table id="onlineRates" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Institution</th>
                                        <th>Base rate</th>
                                        <th>Bonus rate</th>
                                        <th>Total Rate</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for rate in progress_saver %}
                                    <tr>
                                        <td><img src="./static/img/{{ rate.logo }}" width="42" height="42"> &nbsp{{ rate.product }}</td>
                                        <td> {{ rate.base }}%</td>
                                        <td> {{ rate.bonus }}%</td>
                                        <td> {{ rate.total }}%</td>
                                        <td> {{ rate.notes }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div> <!-- end row -->
            {% endif %}

        </div> <!-- end main row -->

{% endblock %}
