{% extends 'layout.html' %}
{% block body %}

<script>
    
    function init() {
        var sortesa = tsorter.create('tdRates');
    }
    window.onload = init;

</script>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            
            <div class="col-lg-12">
            
                <h2 class="page-header"><i class="fa fa-clock-o"></i> Term Deposits</h2>
                <p> Latest retail term deposit rates</p>
                <a href='static/test.xlsx'>    
                    <span class="badge bg-success">Download Sheet</span>
                </a>
                <a href="{{ '/add_td' }}">    
                    <span class="badge bg-success">Refresh Rates</span>
                </a>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <hr>
                
                <!-- All Term Deposit Rates -->   
                <h3 class="page-header"> All retail Rates</h3>
                
                {% if term_deposit %}
	        <!-- Table for all Term Deposit Rates-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                               *Select month to sort
                            </header>
                          <div class="table-responsive">
                            <table id="tdRates" class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Terms asdin months</th>
                                  <th>&nbsp 1</th>
                                  <th>&nbsp 2</th>
                                  <th>&nbsp 3</th>
                                  <th>&nbsp 4</th>
                                  <th>&nbsp 5</th>
                                  <th>&nbsp 6</th>
                                  <th>&nbsp 7</th>
                                  <th>&nbsp 8</th>
                                  <th>&nbsp 9</th>
                                  <th>&nbsp 10</th>
                                  <th>&nbsp 11</th>
                                  <th>&nbsp 12</th>
                                  <th>&nbsp 24</th>
                                  <th>&nbsp 36</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for term in term_deposit %}
                                    <tr>
                                        <td><img src="./static/img/{{ term.logo }}" width="42" height="42"> &nbsp{{ term.name }}</th>
                                        <td align="center"> {{ term.one_month }}{% if term.one_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.two_month }}{% if term.two_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center" style="color: black;font-weight: bold">{{ term.three_month }}{% if term.three_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.four_month }}{% if term.four_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.five_month }}{% if term.five_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center" style="color: black;font-weight: bold"> {{ term.six_month }}{% if term.six_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.seven_month }}{% if term.seven_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.eight_month }}{% if term.eight_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.nine_month }}{% if term.nine_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.ten_month }}{% if term.ten_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.eleven_month }}{% if term.eleven_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center" style="color: black;font-weight: bold"> {{ term.twelve_month }}{% if term.twelve_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.twentyfour_month }}{% if term.twentyfour_month == '-' %} {% else %} % {% endif %}</td>
                                        <td align="center"> {{ term.thirtysix_month }}{% if term.thirtysix_month == '-' %} {% else %} % {% endif %}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                      </section>
                  </div>
                </div> <!-- end row -->
                {% endif %}
            </div>
        </div>

{% endblock %}
