{% extends 'layout.html' %}
{% block body %}

<script> 
    function init() {
        var sorter = tsorter.create('tdRates');
    }
    window.onload = init;

</script>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            
            <div class="col-lg-12">
            
                <h2 class="page-header"><i class="fa fa-laptop"></i> Term Deposits</h2>
                <a href='static/test.xlsx'>    
                    <span class="badge bg-success">Download Sheet</span>
                </a>
                <a href="{{ '/add' }}">    
                    <span class="badge bg-success">Refresh Rates</span>
                </a>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <hr>
                

                <!-- Best Rate Widgets Top-->   
                <h3 class="page-header"> Highest Retail Rates</h3>
                
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box blue-bg">
                            <i><img src="{{ highest[0][0].short_logo }}" style="width:82px; height:82px"></i>
                            <div class="count">{{ highest[0][0].short_rate }}%</div>
                            <div class="title">Short Term</div>                        
                        </div><!--/.info-box-->            
                    </div><!--/.col-->
            
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box brown-bg">
                            <i><img src="{{ highest[0][0].mid_logo }}" style="width:82px; height:82px"></i>
                            <div class="count">{{ highest[0][0].mid_rate }}%</div>
                            <div class="title">Mid Term</div>                        
                        </div><!--/.info-box-->            
                    </div><!--/.col-->    
            
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="info-box dark-bg">
                            <i><img src="{{ highest[0][0].long_logo }}" style="width:82px; height: 82px"></i>
                            <div class="count">{{ highest[0][0].long_rate }}%</div>
                            <div class="title">Long Term</div>                        
                        </div><!--/.info-box-->            
                    </div><!--/.col-->
                
                </div><!--/.row--> 
           

                <!-- Best Rate Widgets Top-->   
                <h3 class="page-header">All retail Rates</h3>
                

	        <!-- Table for all Term Deposit Rates-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Latest Retail Rates - Select rate to sort list
                            </header>
                          <div class="table-responsive">
                            <table id="tdRates" class="table table-bordered">
                              <thead>
                                <tr>
                                    <th></th>
                                    <th>Institution</th>
                                
                                  <th>Short Term</th>
                                  <th>Rate &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
                                  <th>Mid Term</th>
                                  <th>Rate &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
                                  <th>Long Term</th> 
                                  <th>Rate &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for term in term_deposit %}
                                    <tr>
                                        <th><img src="{{ term.logo }}" width="42" height="42"></th>
                                        <th style="color: black">{{ term.name }}</th>
                                        <th style="color: #57889c">{{ term.short }}</th>
                                        <th style="color: #57889c">{{ term.short_rate }}</th>
                                        <th style="color: #d1b993">{{ term.mid }}</th>
                                        <th style="color: #d1b993">{{ term.mid_rate }}</th>
                                        <th style="color: #1a2732">{{ term.long }}</th>
                                        <th style="color: #1a2732">{{ term.long_rate }}</th>

                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>

                      </section>
                  </div>
              </div> 
            </div>
        </div>

{% endblock %}
